<div>
  <h1>
    <span class="block font-display text-base font-semibold text-neutral-950">
      Contact Us
    </span>
    <span class="sr-only"> - </span>
    <span class="mt-6 block max-w-5xl font-display text-5xl sm:text-6xl font-medium tracking-tight text-neutral-950 [text-wrap:balance]">
      Let's Work Together
    </span>
  </h1>
</div>
